<div class="container">
    <div class="reset-pass-container bg-light p-4 rounded shadow">
        <h2 class="text-center">Quên mật khẩu</h2>

        <form #resetPassForm="ngForm" *ngIf="!isResetSuccessful">
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input 
                    type="text" 
                    [(ngModel)]="phone"
                    (input)="onPhoneNumberChanger()"
                    class="form-control" 
                    name="phone" id="phone" 
                    placeholder="Phone" required>
                    <div class="divider-nospace"></div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    type="text" 
                    [(ngModel)]="email"
                    class="form-control" 
                    name="email" id="email" 
                    placeholder="Email" required>
                    <div class="divider-nospace"></div>
            </div>

                <button 
                    type="button" 
                    class="btn btn-primary btn-block"
                    (click)="resetPassWord()"
                >Xác nhận</button>
            
        </form>
        <div class="divider-nospace"></div>

        <div *ngIf="isResetSuccessful" class="success-message-container">
            <p class="text-center">Thành công, Vui lòng kiểm tra email của bạn để nhận mật khẩu mới.</p>
        </div>
        
    </div>
</div>